*{
	margin: 0;
	padding: 0;
}
.avia-safari div.hr.hr-invisible.avia-builder-el-6.el_before_av_one_fifth.avia-builder-el-first {
margin-top: 0 !important; 
}
html, body{
	height: 100%;
	width: 100%;
	/*font-family: "SciFly",  sans-serif;*/
	font-family: 'Roboto Condensed', sans-serif;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	text-rendering: optimizeSpeed;
	font-smoothing: antialiased;
	font-weight: lighter;
}
#container {
   min-height:100%;
   position:relative;
}

/* Text Standard */

.h1-black {
	font-size: 60px;
	color: #0D0D0D;
	font-weight: lighter;

}
.h2-black {
	font-size: 25px;
	color: #0D0D0D;
	font-weight: lighter;
}
.h3-footer{
	font-size: 14px;
	color: #0D0D0D;
	font-weight: lighter;
	margin-left: 15%;
	line-height: 60px; 
	width: 50%;
}
/* --------------- */



.nav{
	width: 100%;
	position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    z-index: 9999;
    background: white;
}
.logga{
	width:100px;
	height:100px;
	float: left;
	margin-left: 20%;
	
}
.selection{
	float: left;
	width: calc(80% - 100px);
	margin-top: 30px;
	text-align: center;
}
	.choice {
		margin: 20px;
		text-decoration: none;
		font-size: 17px;
		color: #0D0D0D;
		transition: 0.2s;
		position: relative;
		cursor: pointer;
	}

		.choice:hover {
			color: #FE8F01;/*#7897BF;*/

		}
		.main{
		width: 100%;
		height: 500px;
		margin-top: 10%;
		overflow: hidden;
		position: relative;
    	text-align: center;
    	color: white;
	}
		.shadow{
			position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
		    width: 100%;
		    height: 500px;
		    background: black;
		    opacity: 0.2;
		}
		.centered {
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
		    color: white;
			font-size: 50px;
			width: 100%;
		}
		.bg {
					/* The image used */
			background-image: url("../img/me.jpg");

			/* Set a specific height */
			height: 500px; 

			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			
		}
.title{
	width: 100%;
}
	.big-title{
		padding: 40px;
	}
.boxes {
	flex-wrap: wrap;
	width: 100%;
	float: left;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	padding-top: 20px;
	padding-bottom: 50px;
}
	.boxesdiv {
		width: 30%;
		float: left;

		/* Set a specific height */
		height: 250px; 

		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		margin: auto;
		position: relative;
	}	
			#box1{
			background-image: url("../img/foto4.jpg");
		}	
			#box2{
			background-image: url("../img/bg.jpg");
		}	
		#box3{
			background-image: url("../img/kontakt.jpg");
		}	
		#box4{
			background-image: url("../img/me.jpg");
		}	
		#box5{
			background-image: url("../img/foto.jpg");
		}
		#box6{
			background-image: url("../img/me2.jpg");
		}
		.video1{
			margin: 0 auto;
		}
		.video2 {
		   margin: 0 auto;
		}
		.video3 {
		   margin: 0 auto;
		}
		iframe {
			flex-wrap: wrap;
			width: 30%;
			float: left;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
			padding-top: 20px;
			padding-bottom: 50px;
			padding-left: calc(3% - 10px);
		}
	
#footer {
   position:fixed;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background: #dddddd;
   z-index: 1002;
}

	.socials{
		width: 30%;
		height: 100%;
		float: right;
	}
		.social1{
			width: 10px;
			height: 10px;
			margin: 5px;
			float: left;
			transition: 0.2s;
			cursor: pointer;
		}
			.social1:hover{
				opacity: 0.6;
			}
		.social2{
			width: 10px;
			height: 10px;
			float: left;
			margin-top: 5px;
			margin-left: 40px; 
			transition: 0.2s;
			cursor: pointer;
		}
			.social2:hover{
				opacity: 0.6;
			}
		.social3{
			width: 10px;
			height: 10px;
			float: left;
			margin-top: 5px;
			margin-left: 45px; 
			transition: 0.2s;
			cursor: pointer;
		}
			.social3:hover{
					opacity: 0.6;
				}
/* HAMBURGER */

#menuToggle
{
  display: none;
  position: relative;
  top: 60px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #0D0D0D;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
.dchoice {
		margin: 20px;
		text-decoration: none;
		font-size: 17px;
		color: #0D0D0D;
		transition: 0.2s;
		position: relative;
		cursor: pointer;
		float: left;
		width: 300px;
		font-size: 20px;
	}

		.dchoice:hover {
			color: #FE8F01;

		}
@media (max-width: 1300px){
	.factText{
		font-size: 20px;
	}
}
@media (max-width: 850px){
	.left {
		width: 100%;
		float: left;
	}
		#small-left {
			margin: auto;
		}
			
	.right {
		width: 100%;
		float: left;
	}
		#small-right{
			margin: auto;
			width: 80%;
			height: 50%;
		}
	#menuToggle{
		display: block;
	}
	.selection {
		display: none;
	}
	.logga {
		float: right;
		width: 150px;
		height: 150px;
		margin-left: 0;
	}
	.choice{
		float: left;
		width: 300px;
		font-size: 20px;
	}
	.centered {
		font-size: 40px;
		top: 58%;
		left: 60%:
	}
	.centered2 {
		font-size: 10px;
		top: 67%;
		transform: translate(-53%, -60%);
	}
	.boxesdiv {
		width: 90%;
		margin-top: 20px;
	}
	iframe {
   display: block;
   margin: 0 auto;
   width: 100%;
   padding-left: 0;
}
	.h1-black{
		font-size: 45px;
	}
	.h3-footer{
		text-align: center;
		vertical-align: middle;
		margin-left: 0%;
	}
@media (max-width: 500px){
	.factText{
		font-size: 16px;
	}
	.h1-black{
		font-size: 35px;
	}
	.h3-footer{
		width: 100%;
	}
}
}